@page
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    Greeting: @configuration.GetSection("UI_Texts")["Greeting"]<br />
</div>
